[Unit]
Description=i3 Window Manager
After=x11@%i.target
Requisite=x11@%i.target

[Service]
Environment=DISPLAY=:%i
Type=notify
NotifyAccess=all
ExecStart=/usr/bin/env bash -c 'exec 8>%t/x11-wm@%i; exec i3'
SyslogIdentifier=i3

[Install]
RequiredBy=x11@%i.target
