[Unit]
Description=Merge user xmodmap on x11 display %i
Documentation=man:xmodmap(1)
After=x11@%i.target
Requisite=x11@%i.target

[Service]
Environment=DISPLAY=:%i

Type=oneshot
ExecStart=-/usr/bin/env xmodmap %E/X11/modmap
SyslogIdentifier=xmodmap

[Install]
WantedBy=x11@%i.target
