[Unit]
Description=Merge user xrdb on x11 display %i
Documentation=man:xrdb(1)
Before=x11@%i.target
Requisite=x11@%i.target

[Service]
Environment=DISPLAY=:%i

Type=oneshot
ExecStart=/usr/bin/env flock %t/x11-xrdb@%i -c 'xrdb -merge %E/X11/resources'
SyslogIdentifier=xrdb

[Install]
WantedBy=x11@%i.target
