[Unit]
Description=Lock the screen automatically after a timeout

[Service]
Type=simple
User=lain
Environment=DISPLAY=:0
ExecStart=/usr/bin/xautolock -time 1 -locker "/usr/bin/i3lock-fancy -t 'Station Locked'" -detectsleep

[Install]
WantedBy=graphical.target
